.best
  a.best__item(href="#")
    img.best__img(src="components/best/src/best1.jpg" alt="best")
    .best__date 04/05/2015
    .best__title Vestibilim commando bolupata a convallisac laoreet eim.
  a.best__item(href="#")
    img.best__img(src="components/best/src/best2.jpg" alt="best")
    .best__date 04/05/2015
    .best__title Vestibilim commando bolupata a convallisac laoreet eim.
  a.best__item(href="#")
    img.best__img(src="components/best/src/best3.jpg" alt="best")
    .best__date 04/05/2015
    .best__title Vestibilim commando bolupata a convallisac laoreet eim.
  a.best__item(href="#")
    img.best__img(src="components/best/src/best4.jpg" alt="best")
    .best__date 04/05/2015
    .best__title Vestibilim commando bolupata a convallisac laoreet eim.
  a.best__item(href="#")
    img.best__img(src="components/best/src/best5.jpg" alt="best")
    .best__date 04/05/2015
    .best__title Vestibilim commando bolupata a convallisac laoreet eim.
  a.best__item(href="#")
    img.best__img(src="components/best/src/best6.jpg" alt="best")
    .best__date 04/05/2015
    .best__title Vestibilim commando bolupata a convallisac laoreet eim.