.bigBtn

  .bigBtn__item.-black
    .bigBtn__fa.fa.fa-commenting-o
    .bigBtn__text ZADAJ PYTANIE TRENEROWI
    a.bigBtn__btn(href="#") Więcej &gt;

  .bigBtn__item
    .bigBtn__fa.fa.fa-phone
    .bigBtn__text UMÓW SIĘ NA SPOTKANIE
    a.bigBtn__btn.-black(href="#") Więcej &gt;

  .bigBtn__item
    .bigBtn__fa.fa.fa-line-chart
    .bigBtn__text ZAMÓW PLAN TRENINGOWY
    a.bigBtn__btn.-black(href="#") Więcej &gt;