.weather
  .weather__item
    .weather__box.-padding
      .weather__text DZISIAJ:
      .weather__text 3&#176;
    .weather__box
      img.weather__img(src="components/weather/src/weather1.jpg" alt="weather1")
  .weather__item
    .weather__box.-padding
      .weather__text JUTRO:
      .weather__text 8&#176;
    .weather__box
      img.weather__img(src="components/weather/src/weather2.jpg" alt="weather1")
  .weather__item
    .weather__box.-padding
      .weather__text POJUTRZE:
      .weather__text 16&#176;
    .weather__box
      img.weather__img(src="components/weather/src/weather3.jpg" alt="weather1")