-var title2 = "TEAMY W POLSCE";
-var add ="DODAJ TEAM";
.team
  .container

    .team__title
      .col75
        include ../title/_title-print
    .col75
      .col60
        .team__map
          include ../map/_map

      .col40
        include ../teamItem/_teamItem


    .col25

      .team__add
        include ../add/_add

      img.team__ad(src="components/team/src/ad.jpg" alt="best")

      .team__contact
        include ../contact/_contact

      .team__login
        include ../login/_login

      .team__faq
        include ../faq/_faq


      .team__fb
        include ../fb/_fb