.btns
  .btns__box
    .btns__box.-half
      a.btns__item(href="#") Regulamin
      a.btns__item(href="#") Zapisz się
      a.btns__item(href="#") Wyniki
  .btns__box
    .btns__box.-half
      a.btns__item.-big(href="#") Zaproponuj bieg znajomemu
        .btns__fa.-border.fa.fa-plus
    .btns__box.-half
      .btns__box.-half
        a.btns__item.-blueC(href="#") Wezmę udział w wydarzeniu
      .btns__box.-half
        a.btns__item.-blueR(href="#") Polub
          .btns__fa.fa.fa-facebook