.teamItem

  .teamItem__top
    .teamItem__title LISTA TEAMÓW:
    select.teamItem__select(id="sample")
      option.teamItem__opt(data-list="1") WARMIŃSKO-MAZURSKIE
      option.teamItem__opt(data-list="2") MAZOWIECKIE
      option.teamItem__opt(data-list="3") POMORSKIE
      option.teamItem__opt(data-list="4") ŚLĄSKIE

  .team__all
    .teamItem__bot(data-list="1")
      .teamItem__content
        .teamItem__name NAZWA TEAasdasdMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        include ../page/_page


    .teamItem__bot(data-list="2")
      .teamItem__content
        .teamItem__name Agrafki zagłady
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        include ../page/_page
    .teamItem__bot(data-list="3")
      .teamItem__content
        .teamItem__name Ziomy atomy
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        include ../page/_page
    .teamItem__bot(data-list="4")
      .teamItem__content
        .teamItem__name familoki
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        .teamItem__name NAZWA TEAMU
        .teamItem__box
          .teamItem__text LOKACJA:
          .teamItem__text.-black OLSZTYN
        .teamItem__box
          .teamItem__text LISTA CZŁONKÓW:
          .teamItem__text.-black 16
        .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
        .teamItem__border
      .teamItem__content
        include ../page/_page

