.teamItem

  .teamItem__top
    .teamItem__title LISTA TEAMÓW:
    select.teamItem__select
      option.teamItem__opt(value="WARMIŃSKO-MAZURSKIE") WARMIŃSKO-MAZURSKIE
      option.teamItem__opt(value="MAZOWIECKIE") MAZOWIECKIE
      option.teamItem__opt(value="POMORSKIE") POMORSKIE
      option.teamItem__opt(value="ŚLĄSKIE") ŚLĄSKIE

  .teamItem__bot
    .teamItem__content
      .teamItem__name NAZWA TEAMU
      .teamItem__box
        .teamItem__text LOKACJA:
        .teamItem__text.-black OLSZTYN
      .teamItem__box
        .teamItem__text LISTA CZŁONKÓW:
        .teamItem__text.-black 16
      .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
      .teamItem__border
    .teamItem__content
      .teamItem__name NAZWA TEAMU
      .teamItem__box
        .teamItem__text LOKACJA:
        .teamItem__text.-black OLSZTYN
      .teamItem__box
        .teamItem__text LISTA CZŁONKÓW:
        .teamItem__text.-black 16
      .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
      .teamItem__border
    .teamItem__content
      .teamItem__name NAZWA TEAMU
      .teamItem__box
        .teamItem__text LOKACJA:
        .teamItem__text.-black OLSZTYN
      .teamItem__box
        .teamItem__text LISTA CZŁONKÓW:
        .teamItem__text.-black 16
      .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
      .teamItem__border
    .teamItem__content
      .teamItem__name NAZWA TEAMU
      .teamItem__box
        .teamItem__text LOKACJA:
        .teamItem__text.-black OLSZTYN
      .teamItem__box
        .teamItem__text LISTA CZŁONKÓW:
        .teamItem__text.-black 16
      .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
      .teamItem__border
    .teamItem__content
      .teamItem__name NAZWA TEAMU
      .teamItem__box
        .teamItem__text LOKACJA:
        .teamItem__text.-black OLSZTYN
      .teamItem__box
        .teamItem__text LISTA CZŁONKÓW:
        .teamItem__text.-black 16
      .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
      .teamItem__border
    .teamItem__content
      .teamItem__name NAZWA TEAMU
      .teamItem__box
        .teamItem__text LOKACJA:
        .teamItem__text.-black OLSZTYN
      .teamItem__box
        .teamItem__text LISTA CZŁONKÓW:
        .teamItem__text.-black 16
      .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
      .teamItem__border
    .teamItem__content
      .teamItem__name NAZWA TEAMU
      .teamItem__box
        .teamItem__text LOKACJA:
        .teamItem__text.-black OLSZTYN
      .teamItem__box
        .teamItem__text LISTA CZŁONKÓW:
        .teamItem__text.-black 16
      .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
      .teamItem__border
    .teamItem__content
      .teamItem__name NAZWA TEAMU
      .teamItem__box
        .teamItem__text LOKACJA:
        .teamItem__text.-black OLSZTYN
      .teamItem__box
        .teamItem__text LISTA CZŁONKÓW:
        .teamItem__text.-black 16
      .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
      .teamItem__border
    .teamItem__content
      .teamItem__name NAZWA TEAMU
      .teamItem__box
        .teamItem__text LOKACJA:
        .teamItem__text.-black OLSZTYN
      .teamItem__box
        .teamItem__text LISTA CZŁONKÓW:
        .teamItem__text.-black 16
      .teamItem__content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui. Maecenas malesuada...
      .teamItem__border
    .teamItem__content
      include ../page/_page