.info
  .info__content
    .info__title NAZWA BIEGU:
    .info__title.-yellow IV MARATON MAZURY
    .info__item
      .info__text.-float Miejsce:
      .info__text Olsztyn
    .info__item
      .info__text.-float Termin:
      .info__text 08.08.2015
    .info__item
      .info__text.-float Dystans:
      .info__text 42,195 km
    .info__item
      .info__text.-float Rodzaj:
      .info__text Uliczny
    .info__item
      .info__text.-float Liczba miejsc:
      .info__text 500
    .info__item
      .info__text.-float Atesty:
      .info__text PZLA,IAAF,AIMS
    .info__item.-border
      .info__text.-float Prognoza pogody:
      .info__text.fa.fa-sun-o.-black
      .info__text.-black 16
  .info__content
    .info__text Odpłatność
    .info__item
      .info__text.-float do 30.07.2015
      .info__text 60 zł
    .info__item.-border
      .info__text.-float do 07.08.2015
      .info__text 100 zł
  .info__content
    .info__item
      .info__text.-float Organizator:
      .info__text Urząd Miasta Olsztyn
    .info__item
      .info__text.-float Adres:
      .info__text ul. Przykładowa 1/234
    .info__item
      .info__text.-float tel:
      .info__text +48 123 456 789
    .info__item
      .info__text.-float e-mail:
      .info__text adres@email.com
    .info__item
      .info__text.-float adres stony:
      .info__text www.strona.com.pl
