-var title2 = 'TRENINGI';
-var title = 'NAJCZĘŚCIEJ OGLĄDANE';

.categor
  .container
    .categor__box
      .home__title
        include ../title/_title-print
      .categor__box.-width
        include ../box/_box1
      .categor__box.-width
        include ../box/_box2
      .categor__box.-width
        include ../box/_box3
      .categor__box.-width
        include ../box/_box3
      .categor__box.-width
        include ../box/_box1
      .categor__box.-width
        include ../box/_box2
      .home__title
        include ../title/_title
      .home__best
        include ../best/_best

    .categor__box.-col25
      .categor__trainer
        include ../trainer/_trainer
      .categor__faq
        include ../faq/_faq
      .categor__yt(data-video="5")
        iframe.categor__film(src="https://www.youtube.com/embed/RS0MikFioN8" frameborder="0" allowfullscreen)
      img.categor__ad(src="components/categor/src/ad.jpg" alt="ad")
      .categor__login
        include ../login/_login
      .categor__fb
        include ../fb/_fb

