-var title = 'AKTUALNOŚCI';

.actual
  .actual__box
    include ../title/_title

  .actual__box

    .actual__item
      img.actual__img(src="components/actual/src/actual.jpg" alt="actual")
      .actual__info
        a.actual__title(href="#") Biegowy Marzec na Warmi i Mazurach Gdzie startować?
        .actual__text Uzyskanie jednolitych pod względem wartości użytkowej wyrębów tuszy wymaga precyzyjnego.

    .actual__item
      .actual__info.-width
        a.actual__title(href="#") Profilaktyka i leczenie schodzeń narządu lorem ipsum
        .actual__text Lorem ipsum dolor sit amet enim Etiam ullamcorper Suspendisse a pellentesgue dui
        .actual__date 04/05/2015

    .actual__item
      .actual__info.-width
        a.actual__title(href="#") Profilaktyka i leczenie schodzeń narządu lorem ipsum
        .actual__text Lorem ipsum dolor sit amet enim Etiam ullamcorper Suspendisse a pellentesgue dui
        .actual__date 04/05/2015

    .actual__item
      .actual__info.-width
        a.actual__title(href="#") Profilaktyka i leczenie schodzeń narządu lorem ipsum
        .actual__text Lorem ipsum dolor sit amet enim Etiam ullamcorper Suspendisse a pellentesgue dui
        .actual__date 04/05/2015

    .actual__item
      .actual__info.-width
        a.actual__title(href="#") Profilaktyka i leczenie schodzeń narządu lorem ipsum
        .actual__text Lorem ipsum dolor sit amet enim Etiam ullamcorper Suspendisse a pellentesgue dui
        .actual__date 04/05/2015

    .actual__item
      .actual__info.-width
        a.actual__title(href="#") Profilaktyka i leczenie schodzeń narządu lorem ipsum
        .actual__text Lorem ipsum dolor sit amet enim Etiam ullamcorper Suspendisse a pellentesgue dui
        .actual__date 04/05/2015

    .actual__item
      .actual__info.-width
        a.actual__title(href="#") Profilaktyka i leczenie schodzeń narządu lorem ipsum
        .actual__text Lorem ipsum dolor sit amet enim Etiam ullamcorper Suspendisse a pellentesgue dui
        .actual__date 04/05/2015

    .actual__item
      .actual__info.-width
        a.actual__title(href="#") Profilaktyka i leczenie schodzeń narządu lorem ipsum
        .actual__text Lorem ipsum dolor sit amet enim Etiam ullamcorper Suspendisse a pellentesgue dui
        .actual__date 04/05/2015

    .actual__item
      .actual__info.-width
        a.actual__title(href="#") Profilaktyka i leczenie schodzeń narządu lorem ipsum
        .actual__text Lorem ipsum dolor sit amet enim Etiam ullamcorper Suspendisse a pellentesgue dui
        .actual__date 04/05/2015

    .actual__item
      .actual__info.-width
        a.actual__title(href="#") Profilaktyka i leczenie schodzeń narządu lorem ipsum
        .actual__text Lorem ipsum dolor sit amet enim Etiam ullamcorper Suspendisse a pellentesgue dui
        .actual__date 04/05/2015