.login

  .login__box
    .login__text MASZ POMYSŁ NA ARTYKUŁ?
    .login__text.-small NAPISZ NAM O TYM

  .login__box
    input.login__input(placeholder="Login_")
    input.login__input(placeholder="Haslo_")

  .login__box
    .login__item
      input.login__check(type="checkbox")
      .login__text.-check Zapamiętaj hasło
    a.login__link(href="#") przypomnij hasło