-var title2 = "TRENERZY";
.detail
  .container

    .detail__title
      .detail__box
        include ../title/_title-print
    .detail__box
      .detail__box.-col33
        img.detail__ad(src="components/detail/src/train.jpg" alt="detail")

      .detail__box.-col66
        include ../content/_content-trainer
        include ../social/_social

        include ../product/_product

      .detail__box.-full
        include ../bigBtn/_bigBtn

    .detail__box.-col25

      img.detail__ad.-margin(src="components/detail/src/ad.jpg" alt="best")

      .detail__contact
        include ../contact/_contact

      .detail__login
        include ../login/_login

      .detail__faq
        include ../faq/_faq


      .detail__fb
        include ../fb/_fb