-var title2 = "TEAMY W POLSCE";
-var add ="DODAJ TEAM";
.detail
  .container

    .detail__title
      .col75
        include ../title/_title-print
    .col75
      .col33
        img.detail__img(src="components/detail/src/detail.jpg" alt="detail")

      .col66
        include ../content/_content
        include ../social/_social

        include ../product/_product

    .col25
      .detail__add
        include ../add/_add

      img.detail__ad(src="components/detail/src/ad.jpg" alt="best")

      .detail__contact
        include ../contact/_contact

      .detail__faq
        include ../faq/_faq

      .detail__login
        include ../login/_login

      .detail__fb
        include ../fb/_fb