-var title2 = "TRENERZY";
.detail
  .container

    .detail__title
      .col75
        include ../title/_title-print
    .col75
      .col33
        img.detail__img(src="components/detail/src/train.jpg" alt="detail")

      .col66
        include ../content/_content-trainer
        include ../social/_social

        include ../product/_product

      .col75
        include ../bigBtn/_bigBtn

    .col25

      img.detail__ad(src="components/detail/src/ad.jpg" alt="best")

      .detail__contact
        include ../contact/_contact

      .detail__login
        include ../login/_login

      .detail__faq
        include ../faq/_faq


      .detail__fb
        include ../fb/_fb