.table
  margin: 20px 0
  width: 100%
  border-bottom: 1px solid lightgrey

  &__table
     width: 100%

  &__tableRow
    background: white
    padding: 5px 10px
    text-align: center
    width: 100%

    &.-border
      border-bottom: 1px solid gray

  &__tableData
    padding: 5px 5px 0
    box-sizing: border-box
    font-size: 11px
    float: left
    text-align: center

    &:nth-child(1)
      width: 7%

    &:nth-child(2)
      width: 14%

    &:nth-child(3)
      width: 11%

    &:nth-child(4)
      width: 7%

    &:nth-child(5)
      width: 7%

    &:nth-child(6)
      width: 7%

    &:nth-child(7)
      width: 12%

    &:nth-child(8)
      width: 14%

    &:nth-child(9)
      width: 21%

    &.-right
      text-align: right
      float: right

    &.-padding
      padding: 2px 5px 3px 5px

  &__text
    border: 1px solid black
    padding: 10px 13px
    font-size: 10px

    &.-weather
      font-size: 14px
      text-align: center
      display: flex
      justify-content: space-between

  &__fa
    display: inline-block
    box-sizing: border-box

  &__item
    padding: 5px
    box-sizing: border-box
    float: left
    margin-top: 3px

  &__btn
    padding: 10px
    background: $yellow
    border: 1px solid $yellow
    font-weight: 700

    &:hover
      border: 1px solid black

  &__img
    float: left
    display: inline-block
    box-sizing: border-box

  &__icon
    float: left
    display: inline-block
    box-sizing: border-box
    height: 20px

