.table
  .container

    table.table__table
      tr.table__tableRow.-border
        td.table__tableData DATA
          .table__fa.fa.fa-sort-desc
        td.table__tableData NAZWA IMPREZY
          .table__fa.fa.fa-sort-desc
        td.table__tableData MIEJSCE
          .table__fa.fa.fa-sort-desc
        td.table__tableData DYSTANS(M)
          .table__fa.fa.fa-sort-desc
        td.table__tableData RODZAJ
          .table__fa.fa.fa-sort-desc
        td.table__tableData ILOSĆ MIEJSC
          .table__fa.fa.fa-sort-desc
        td.table__tableData ATEST
          .table__fa
            .fa.fa-sort-desc
        td.table__tableData PROGNOZA POGODY
          .table__fa.fa.fa-sort-desc
        td.table__tableData.-right Drukuj stronę
          img.table__fa(src="components/table/src/print.png" alt="print")


      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki







      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki



      tr.table__tableRow
        td.table__tableData
          .table__text 02.08.2015
        td.table__tableData
          .table__text IV Maraton Warmia-Mazury
        td.table__tableData
          .table__text Szczytno k.Olsztyna
        td.table__tableData
          .table__text 42195
        td.table__tableData
          .table__text Uliczny
        td.table__tableData
          .table__text 10000
        td.table__tableData
          .table__text PZLA,IAAF,AIMS
        td.table__tableData.-padding
          .table__text.-weather
            img.table__icon.-small(src="components/table/src/more.png" alt="more")
            img.table__icon(src="components/table/src/sun.png" alt="sun")
            .table__fa 16&#176;
        td.table__tableData.-right
          .table__item
            a.table__btn(href="#") Regulamin
          .table__item
            a.table__btn(href="#") Zapisz się
          .table__item
            a.table__btn(href="#") Wyniki





