.slider
  .container
    .slider__title

    .slider__slick
      .slider__news
        .slider__newsBox
          img.slider__newsImg(src="components/slider/src/gal1.jpg" alt="galeria")

      .slider__news
        .slider__newsBox
          img.slider__newsImg(src="components/slider/src/gal2.jpg" alt="galeria")

      .slider__news
        .slider__newsBox
          img.slider__newsImg(src="components/slider/src/gal1.jpg" alt="galeria")

      .slider__news
        .slider__newsBox
          img.slider__newsImg(src="components/slider/src/gal2.jpg" alt="galeria")

      .slider__news
        .slider__newsBox
          img.slider__newsImg(src="components/slider/src/gal1.jpg" alt="galeria")
