-var title2 = "SZCZEGÓŁY BIEGU";
-var add ="DODAJ BIEG";
.runContent
  .container

    .runContent__title
      .col75
        include ../title/_title-print
    .col75
      .col60
        .runContent__map
          include ../map/_map

      .col40
        include ../info/_info

      .col100
        include ../btns/_btns

      .col100
        include ../track/_track

      .col100
        include ../plot/_plot

      .col100
        include ../list/_list

      .col100
        include ../list/_list-record

      .col100
        include ../comment/_comment

    .col25
      .runContent__add
        include ../add/_add

      .runContent__actual
        include ../actual/_actual-small

      img.runContent__ad(src="components/runContent/src/ad.jpg" alt="best")

      .runContent__login
        include ../login/_login

      .runContent__faq
        include ../faq/_faq

      .runContent__contact
        include ../contact/_contact

      .runContent__fb
        include ../fb/_fb