-var title2 = "SZCZEGÓŁY BIEGU";
-var add ="DODAJ BIEG";
.runContent
  .container

    .runContent__title
      .runContent__box
        include ../title/_title-print
    .runContent__box
      .runContent__box.-col60
        .runContent__map
          include ../map/_map

      .runContent__box.-col40
        include ../info/_info

      .runContent__btns
        include ../btns/_btns

      .runContent__track
        include ../track/_track

      .runContent__plot
        include ../plot/_plot

      .runContent__list
        include ../list/_list

      .runContent__list
        include ../list/_list-record

      .runContent__comment
        include ../comment/_comment

    .runContent__box.-col25
      .runContent__add
        include ../add/_add

      .runContent__actual
        include ../actual/_actual-small

      img.runContent__ad(src="components/runContent/src/ad.jpg" alt="best")

      .runContent__login
        include ../login/_login

      .runContent__faq
        include ../faq/_faq

      .runContent__contact
        include ../contact/_contact

      .runContent__fb
        include ../fb/_fb