.page
  a.page__item.-small(href="#") &lt;&lt;
  a.page__item(href="#") 1
  a.page__item(href="#") 2
  a.page__item(href="#") 3
  a.page__item(href="#") 4
  a.page__item(href="#") 5
  a.page__item(href="#") ...12...
  a.page__item(href="#") 20
  a.page__item(href="#") 21
  a.page__item(href="#") 22
  a.page__item(href="#") 23
  a.page__item(href="#") 24
  a.page__item.-small(href="#") &gt;&gt;