.baner

  .baner__item
    img.baner__img(src="components/baner/src/baner.jpg" alt="banner")
    img.baner__img(src="components/baner/src/baner.jpg" alt="banner")
    img.baner__img(src="components/baner/src/baner.jpg" alt="banner")
    img.baner__img(src="components/baner/src/baner.jpg" alt="banner")

  .baner__content.-top
    .baner__box
      .baner__text KATEGORIA
      .baner__text.-cat TRENING

    .baner__box.-padding
      .baner__title Metoda doktora Van Aakena lorem ipsum

    .baner__box.-padding
      .baner__icons
        .baner__fa.fa.fa-thumbs-o-up
        .baner__nr 255

      .baner__icons
        .baner__fa.fa.fa-commenting-o
        .baner__nr 16

  .baner__content
    .baner__box.-width
      .baner__nr.-padding 01
      .baner__info Lorem ipsum doclor sit amet enim Etiam ullamcoper. Suspondisse a pellentesque dui
    .baner__box.-width
      .baner__nr.-padding 01
      .baner__info Lorem ipsum doclor sit amet enim Etiam ullamcoper. Suspondisse a pellentesque dui
    .baner__box.-width
      .baner__nr.-padding 01
      .baner__info Lorem ipsum doclor sit amet enim Etiam ullamcoper. Suspondisse a pellentesque dui
