-var title = 'NAJCZĘŚCIEJ CZYTANE';

.home
  .container
    .home__box
      .home__baner
        include ../baner/_baner
      .home__box.-width
        include ../box/_box1
      .home__box.-width
        include ../box/_box2
      .home__box.-width
        include ../box/_box3
      .home__box.-width
        include ../box/_box-small1
      .home__box.-width
        include ../box/_box-black
      .home__box.-width
        include ../box/_box-small2
      .home__box.-width
        include ../box/_box-small3
      .home__box.-width
        include ../box/_box-calc
      .home__box.-width
        include ../box/_box-small4
      .home__box.-width
        include ../box/_box-small5
      .home__box.-width
        include ../box/_box-small2
      .home__box.-width
        include ../box/_box-map
      .home__box.-width
        include ../box/_box-small7
      .home__box.-width
        include ../box/_box-small8
      .home__box.-width
        include ../box/_box-small9
      .home__box.-width
        include ../box/_box-small10
      .home__box.-width
        include ../box/_box-small11
      .home__box.-width
        include ../box/_box-small12
      .home__box.-width
        include ../box/_box-small13
      .home__box.-width
        include ../box/_box-small14
      .home__box.-width
        include ../box/_box-small15
      .home__box.-width
        include ../box/_box-small16
      .home__box.-width
        include ../box/_box-small17
      .home__box.-width
        include ../box/_box-news

      .home__title
        include ../title/_title

      .home__best
        include ../best/_best

    .home__box.-col25
      img.home__ad(src="components/home/src/ad.jpg" alt="best")

      .home__weather
        include ../weather/_weather
      .home__actual
        include ../actual/_actual

      img.home__ad(src="components/home/src/ad.jpg" alt="best")

      .home__login
        include ../login/_login

      .home__contact
        include ../contact/_contact

      .home__yt(data-video="5")
        iframe.home__film(src="https://www.youtube.com/embed/RS0MikFioN8" frameborder="0" allowfullscreen)

  .container

    .home__box
      .home__best
        include ../logs/_logs
    .home__box.-col25
      .home__fb
        include ../fb/_fb
