-var title="KALENDARAZ IMPREZ";

.share
  .container

    .share__box
      include ../title/_title
    .share__back

        .share__box
          button.share__btn(type="button") DODAJ BIEG
            .share__fa.fa.fa-plus-square-o
          form.share__form
            .share__box.-col33
              .share__box
                .share__text Nazwa
                .share__item.-padding
                  select.share__select.-width(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4
                .share__item
                  input.share__input(placeholder="Wpisz nazwę...")

              .share__box
                .share__text Termin
                .share__item.-cal
                  .share__text.-float od:
                  input.share__input.-float(type="date")
                  .share__calendar.fa.fa-calendar
                .share__item.-cal
                  .share__text.-float do:
                  input.share__input.-float(type="date")
                  .share__calendar.fa.fa-calendar

              .share__box
                .share__text Miejsce
                .share__item.-padding
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4
                .share__item
                  input.share__input(placeholder="Wpisz nazwę...")
              .share__box
                .share__text Dystans KM
                .share__item.-width
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4


            .share__box.-col33
              .share__box.-padding
                .share__text Rodzaj
                .share__item.-width
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4

              .share__box.-padding
                .share__text Atest
                .share__item.-width
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4

              .share__box.-padding
                .share__text Odpłatność
                .share__item.-width
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4
              .share__box.-padding
                .share__text Startujących
                .share__item.-width
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4

            .share__box.-col33
              .share__box.-padding
                .share__text Cykliczność
                .share__item.-width
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4

              .share__box.-padding
                .share__text Możliwość biegu z wózkiem dziecięcym
                .share__item.-width
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4

              .share__box.-padding
                .share__text Możliwość biegu z psem
                .share__item.-width
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4
              .share__box.-padding
                .share__text Dodatkowe modyfikacje
                .share__item.-width
                  select.share__select(name="Nazwa")
                    option.share__opt(value="Wybierz") Wybierz
                    option.share__opt(value="Wybierz") Wybierz2
                    option.share__opt(value="Wybierz") Wybierz3
                    option.share__opt(value="Wybierz") Wybierz4

          button.share__bot(type="button") FILTRUJ
