-var title = "REKORD TRASY";

.list

  .list__title
    include ../title/_title

  table.list__table
    tr.list__row
      td.list__data.-yellow ROK
      td.list__data.-yellow IMIĘ I NAZWISKO
      td.list__data.-yellow KRAJ
      td.list__data.-yellow CZAS
    tr.list__row
      td.list__data 2014
      td.list__data Jan Kowalski
      td.list__data Polska
      td.list__data 2:01:44
