-var title = "DOTYCHCZASOWI ZWYCIĘSCY";

.list

  .list__title
    include ../title/_title

  table.list__table
    tr.list__row
      td.list__data.-yellow ROK
        .list__fa.fa.fa-sort-desc
      td.list__data.-yellow IMIĘ I NAZWISKO
        .list__fa.fa.fa-sort-desc
      td.list__data.-yellow KRAJ
        .list__fa.fa.fa-sort-desc
      td.list__data.-yellow CZAS
        .list__fa.fa.fa-sort-desc
    tr.list__row
      td.list__data 2014
      td.list__data Jan Kowalski
      td.list__data Polska
      td.list__data 2:01:44
    tr.list__row
      td.list__data 2014
      td.list__data Jan Kowalski
      td.list__data Polska
      td.list__data 2:01:44
    tr.list__row
      td.list__data 2014
      td.list__data Jan Kowalski
      td.list__data Polska
      td.list__data 2:01:44
    tr.list__row
      td.list__data 2014
      td.list__data Jan Kowalski
      td.list__data Polska
      td.list__data 2:01:44
    tr.list__row
      td.list__data 2014
      td.list__data Jan Kowalski
      td.list__data Polska
      td.list__data 2:01:44
    tr.list__row
      td.list__data 2014
      td.list__data Jan Kowalski
      td.list__data Polska
      td.list__data 2:01:44
