.box
  a.box__link(href="#")
    img.box__img(src="components/box/src/home9.jpg" alt="home")

    .box__content.-closer
      .box__box
        .box__text TRENING

    .box__content
      .box__box.-padding
        .box__date 12/07/2015

      .box__box.-padding
        .box__title.-padding Metoda doktora Van Aakena lorem ipsum

      .box__box.-padding
        .box__icons
          .box__fa.fa.fa-thumbs-o-up
          .box__nr 255

        .box__icons
          .box__fa.fa.fa-commenting-o
          .box__nr 16
