.box
  a.box__link(href="#")
    img.box__img(src="components/box/src/homeY.jpg" alt="home")

    .box__content.-bot
      .box__box.-padding
        img.box__calc(src="components/box/src/calc.png" alt="calc")

      .box__box.-padding
        .box__title.-color KALKULATORY
