.box
  a.box__link(href="#")
    .box__img.-black

    .box__content.-black
      .box__box
        .box__text.-black KALENDARZ

    .box__content.-bot
      .box__box.-padding
        .box__date.-big 23
        .box__date WRZESIEŃ

      .box__box.-padding
        .box__title.-size IX Bieg Morsów Króla Neptuna
