.box
  a.box__link(href="#")
    .box__img.-black

    .box__content.-black
      .box__box.-padding
        .box__text.-news
          .fa.fa-angle-right

    .box__content.-bot

      .box__box.-padding
        .box__title.-big ZAPISZ SIĘ
        .box__title.-big DO NEWSLETTERA
