.logs
  .logs__box
    .logs__text SKLEPY
      
  .logs__box
    .logs__item
      img.logs__img.-padding(src="components/logs/src/logo1.png" alt="logs")
    .logs__item
      img.logs__img(src="components/logs/src/logo2.png" alt="logs")
    .logs__item
      img.logs__img(src="components/logs/src/logo3.png" alt="logs")
    .logs__item
      img.logs__img.-padding(src="components/logs/src/logo4.png" alt="logs")
    .logs__item
      img.logs__img(src="components/logs/src/logo5.png" alt="logs")
    .logs__item
      img.logs__img(src="components/logs/src/logo6.png" alt="logs")

    .logs__item
      img.logs__img(src="components/logs/src/logo7.png" alt="logs")
    .logs__item
      img.logs__img.-padding(src="components/logs/src/logo8.png" alt="logs")
    .logs__item
      img.logs__img.-padding(src="components/logs/src/logo9.png" alt="logs")
    .logs__item
      img.logs__img.-padding(src="components/logs/src/logo10.png" alt="logs")
    .logs__item
      img.logs__img(src="components/logs/src/logo11.png" alt="logs")
    .logs__item
      img.logs__img.-padding(src="components/logs/src/logo12.png" alt="logs")
