head
  title Mixman

  meta(charset='utf-8')
  meta(name='title', content='Szablon przykładowy')
  meta(name='description', content='Szablon przykładowy opis')
  meta(name='keywords', content='Szablon przykładowy keywords')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

  include ../components/favicon/_favicon

  //- plik styli do którego pakujemy wszystkie style, łącznie z używanymi paczkami NPM
  link(rel='stylesheet', href='css/main.css')
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")


  //- skrypt na potrzeby live reload, do usuniecia przy wdrożeniu
  script.
    document.write('<script src="http://'
      + (location.host || 'localhost').split(':')[0]
      + ':35729/livereload.js"></'
      + 'script>')