extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .days
    include ../components/title/_title-date
  .ads
    include ../components/ad/_ad
  .cal__share
    include ../components/share/_share
  .tab
    include ../components/table/_table
  .container
    .pages
      include ../components/page/_page
  .ads
    include ../components/ad/_ad