extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .days
    include ../components/title/_title-date
  .ads
    include ../components/ad/_ad
  .cont
    include ../components/text/_text
