.footer
  .container

    .footer__box.-float
      .footer__nav
        a.footer__item(href="#") Forum
        a.footer__item(href="#") Reklama
        a.footer__item(href="#") Kontakt

    .footer__box
      .footer__text &copy; Copyright by 2015 <b> Portal Biegowy </b> All rights Reserved
      .footer__created projekt i realizacja Artneo.pl
