.contact

  .contact__box
    .contact__title KONTAKT Z REDAKCJĄ

  .contact__box.-border

  .contact__icons
    .contact__box.-half
      img.contact__img(src="components/contact/src/phone.png" alt="best")
    .contact__box.-half
      img.contact__img(src="components/contact/src/mail.png" alt="best")

  .contact__box.-padding
    .contact__nr 600 56 78 90
    .contact__email biuro@portalbiegowy.pl