-var title="GALERIA";

.product
  .product__title
    include ../title/_title

  .product__bot

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")


    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")

    a(href="components/product/src/gal.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__item
      .product__box
        img.product__img.-frame(src="../components/product/src/gal.jpg" alt="logo")
