.social
  a.social__box(href="#")
    .social__fa.fa.fa-twitter.-tw

  a.social__box(href="#")
    .social__fa.fa.fa-facebook.-fb

  a.social__box(href="#")
    .social__fa.fa.fa-pinterest-p.-pin

  a.social__box(href="#")
    .social__fa.fa.fa-google-plus.-plus

  a.social__box(href="#")
    .social__fa.fa.fa-instagram.-in

