-var title2 = 'JAK ZACZĄĆ';
-var title = 'AKTUALNOŚCI';

.text
  .container
    .text__title
      .col75
        include ../title/_title-print
    .col75
      .col100
        include ../textItem/_textItem1
      .col100
        include ../textItem/_textItem2
      .col100
        include ../textItem/_textItem3
      .col100
        include ../textItem/_textItem4
      .col100
        include ../textItem/_textItem5
      .col100
        include ../textItem/_textItem6
      .col100
        include ../textItem/_textItem7
      .col100
        include ../page/_page

      .col100
        include ../title/_title

      .col100
        include ../best/_best

    .col25

      img.text__ad(src="components/text/src/ad.jpg" alt="best")

      .text__weather
        include ../weather/_weather

      .text__faq
        include ../faq/_faq

      .text__actual
        include ../actual/_actual-small

      img.text__ad(src="components/text/src/ad.jpg" alt="best")

      .text__login
        include ../login/_login

      .text__contact
        include ../contact/_contact

      .text__fb
        include ../fb/_fb
