-var title2 = 'JAK ZACZĄĆ';
-var title = 'AKTUALNOŚCI';

.text
  .container
    .text__title
      .text__box
        include ../title/_title-print
    .text__box
      .text__item
        include ../textItem/_textItem1
      .text__item
        include ../textItem/_textItem2
      .text__item
        include ../textItem/_textItem3
      .text__item
        include ../textItem/_textItem4
      .text__item
        include ../textItem/_textItem5
      .text__item
        include ../textItem/_textItem6
      .text__item
        include ../textItem/_textItem7
      .text__item
        include ../page/_page

      .text__title
        include ../title/_title

      .text__best
        include ../best/_best

    .text__box.-col25
      img.text__ad(src="components/text/src/ad.jpg" alt="best")

      .text__weather
        include ../weather/_weather
      .text__faq
        include ../faq/_faq
      .text__actual
        include ../actual/_actual-small

      img.text__ad(src="components/text/src/ad.jpg" alt="best")

      .text__login
        include ../login/_login

      .text__contact
        include ../contact/_contact

      .text__fb
        include ../fb/_fb
