.content
  .content__box.-padding
    .content__title JAN KOWALSKI

    .content__box.-col33
      .content__bot.-less
        .content__name TRENER

  .content__box
    .content__border O MNIE
    .content__more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus ut felis a pharetra. Proin felis lectus, bibendum a feugiat nec, sagittis id ante. Quisque cursus sed lacus vitae dapibus. Integer fringilla enim vitae purus molestie, ac lobortis massa accumsan. Morbi vulputate vestibulum sagittis. Praesent mauris ipsum, rhoncus sed pellentesque nec, ornare ut ante. Ut et dui ipsum.

  .content__box
    .content__border WYKSZTAŁCENIE
    .content__more.-float 2000-2004
    .content__more Lorem ipsum dolor sit amot enim
    .content__more.-float 2004-2009
    .content__more Etimus sultamcoper
    .content__more.-float 2009-2010
    .content__more Suspendisse a pellantesqua dui
    .content__more.-float 2010-2012
    .content__more Maetenas malesuada

  .content__box
    .content__border DOŚWIADCZENIE
    .content__more.-float 2000-2004
    .content__more Lorem ipsum dolor sit amot enim
    .content__more.-float 2004-2009
    .content__more Etimus sultamcoper
    .content__more.-float 2009-2010
    .content__more Suspendisse a pellantesqua dui
    .content__more.-float 2010-2012
    .content__more Maetenas malesuada


  .content__box
    .content__border SUKCESY
    .content__more.-float 2000-2004
    .content__more Lorem ipsum dolor sit amot enim
    .content__more.-float 2004-2009
    .content__more Etimus sultamcoper
    .content__more.-float 2009-2010
    .content__more Suspendisse a pellantesqua dui
    .content__more.-float 2010-2012
    .content__more Maetenas malesuada

  .content__box
    .content__border PUBLIKACJE
    .content__more.-float 2000-2004
    .content__more Lorem ipsum dolor sit amot enim
    .content__more.-float 2004-2009
    .content__more Etimus sultamcoper
    .content__more.-float 2009-2010
    .content__more Suspendisse a pellantesqua dui
    .content__more.-float 2010-2012
    .content__more Maetenas malesuada

  .content__box
    .content__border KONTAKT
    .content__more 10-123 Olsztyn, ul. Przykładowa 1/234a
    .content__more tel. +48 123 456 789
    .content__more adres@email.pl
    .content__more www.adresstrony.com.pl