.content
  .content__box
    .content__title NAZWA TEAMU

  .content__box
    .content__box.-col33
      .content__text LOKACJA:
      .content__text.-black WARSZAWA
    .content__box.-col33
      .content__text ILOŚĆ CZŁONKÓW:
      .content__text.-black 16

  .content__box
    .content__box.-col33
      img.content__img(src="components/content/src/content.jpg" alt="detail")
    .content__box.-col33
      .content__bot
        .content__name TRENER
        .content__name.-big JAN KOWALSKI

  .content__box
    .content__border O NAS
    .content__more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus ut felis a pharetra. Proin felis lectus, bibendum a feugiat nec, sagittis id ante. Quisque cursus sed lacus vitae dapibus. Integer fringilla enim vitae purus molestie, ac lobortis massa accumsan. Morbi vulputate vestibulum sagittis. Praesent mauris ipsum, rhoncus sed pellentesque nec, ornare ut ante. Ut et dui ipsum.

  .content__box
    .content__border OSIĄGNIĘCIA
    .content__more.-float 2000-2004
    .content__more Lorem ipsum dolor sit amot enim
    .content__more.-float 2004-2009
    .content__more Etimus sultamcoper
    .content__more.-float 2009-2010
    .content__more Suspendisse a pellantesqua dui
    .content__more.-float 2010-2012
    .content__more Maetenas malesuada

  .content__box
    .content__border HISTORIA
    .content__more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus ut felis a pharetra. Proin felis lectus, bibendum a feugiat nec, sagittis id ante. Quisque cursus sed lacus vitae dapibus. Integer fringilla enim vitae purus molestie, ac lobortis massa accumsan. Morbi vulputate vestibulum sagittis. Praesent mauris ipsum, rhoncus sed pellentesque nec, ornare ut ante. Ut et dui ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus ut felis a pharetra. Proin felis lectus, bibendum a feugiat nec, sagittis id ante. Quisque cursus sed lacus vitae dapibus. Integer fringilla enim vitae purus molestie, ac lobortis massa accumsan. Morbi vulputate vestibulum sagittis. Praesent mauris ipsum, rhoncus sed pellentesque nec, ornare ut ante. Ut et dui ipsum.


  .content__box
    .content__border STATUS
    .content__more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus ut felis a pharetra. Proin felis lectus, bibendum a feugiat nec, sagittis id ante. Quisque cursus sed lacus vitae dapibus.

  .content__box
    .content__border KONTAKT
    .content__more 10-123 Olsztyn, ul. Przykładowa 1/234a
    .content__more tel. +48 123 456 789
    .content__more adres@email.pl
    .content__more www.adresstrony.com.pl