-var title = 'NAJCZĘŚCIEJ CZYTANE';

.trainer

  .trainer__title
    include ../title/_title

  a.trainer__box(href="#")
    img.trainer__img(src="components/trainer/src/trainer1.jpg" alt="trainer")
    .trainer__content
      .trainer__title Jan Kowalski
      .trainer__text Lorem ipsum dolor sit amet enim. Etlam ullamcorper
  a.trainer__box(href="#")
    img.trainer__img(src="components/trainer/src/trainer2.jpg" alt="trainer")
    .trainer__content
      .trainer__title Jan Kowalski
      .trainer__text Lorem ipsum dolor sit amet enim. Etlam ullamcorper
  a.trainer__box(href="#")
    img.trainer__img(src="components/trainer/src/trainer3.jpg" alt="trainer")
    .trainer__content
      .trainer__title Jan Kowalski
      .trainer__text Lorem ipsum dolor sit amet enim. Etlam ullamcorper