-var title = "MAPA TRASY";
.track
  .track__title
    include ../title/_title

  .track__map
    iframe.track__full(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d313768.35260015563!2d20.84279859598926!3d52.09219388681636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47192d9cf0762d13%3A0xa59ff35e43d3a015!2sPollin!5e0!3m2!1spl!2spl!4v1486564888403")