.textItem
  .textItem__box
    img.textItem__img(src="components/textItem/src/text4.jpg" alt="best")

  .textItem__box.-width
    .textItem__date 04/05/2015
    .textItem__title Lorem ipsum dolor sit amet enim
    .textItem__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ipsum eget dui consectetur aliquam a ut orci. Cras sed justo euismod, lacinia sem eget, hendrerit risus. Phasellus sit amet eros sit amet risus gravida tincidunt quis in risus. Nam ac dictum quam. Donec vulputate, mi vitae lacinia faucibus, odio tortor lobortis arcu, et mollis velit ligula maximus odio. Quisque euismod gravida urna. Praesent at justo mattis, porta magna et, vehicula lorem.
    a.textItem__btn(href="#") CZYTAJ WIĘCEJ