.menu
  +clearfix
  z-index: 100
  width: 100%
  position: relative
  padding-top: 30px

  &__nav
    width: 77%
    float: left
    padding-bottom: 20px
    margin: 10px 0
    box-sizing: border-box

    &.-border
      border-bottom: 1px solid lightgrey

  &__box
    float: left

    &.-full
      width: 100%
      border: 1px solid lightgray
      margin-top: 10px
      position: relative

    &.-float
      float: right

  &__input
    font-size: 12px
    padding: 2px 5px

    &.-none
      border: none
      padding: 10px 15px
      width: 100%
      box-sizing: border-box

    &.-margin
      margin-right: 25px

  &__item
    font-size: 12px
    font-weight: 700
    padding: 10px 20px
    color: gray

    &:hover
      color: $yellow
      background: black

  &__text
    font-size: 12px
    float: left
    padding: 0 20px
    font-weight: 700
    color: gray

  &__btn
    float: right
    position: absolute
    top: 0
    right: 0
    border: none
    background: black
    padding: 8px 35px
    color: white
    font-weight: 700
    font-size: 12px
    margin: 2px

    &:hover
      background: $yellow
      color: black
      cursor: pointer

  &__logo
    padding: 10px 35px 10px 10px
    width: 23%
    display: block
    box-sizing: border-box
    float: left
    z-index: 2
    +clearfix
    +flex

  &__bars
    float: left
    width: 100%
    margin: 0 10px
    background: white
    cursor: pointer
    z-index: 2
    font-size: 24px

  &__fa
    background: black
    float: left
    color: white
    padding: 3px 5px
